@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@layer base {
  body {
   letter-spacing: 2px;
  }
}
@layer components {
  .header {
    @apply w-full bg-transparent absolute top-0 left-0 px-8  text-white z-10;
  }
  .btn {
    @apply px-6 py-2 text-xs bg-white border-transparent text-black uppercase cursor-pointer border-[1px];
  }
  .header:hover {
    @apply bg-white text-black;
  }
  .header:hover .btn {
    @apply bg-black text-white;
  }
  .btn:hover {
    @apply bg-transparent border-black text-black !important;
  }
  .btn {
    @apply px-6 py-2 text-xs bg-white border-transparent text-black uppercase cursor-pointer border-[1px];
  }
  .btn-underline {
    @apply text-xs font-medium uppercase relative max-w-max transition-all;
  }
  .btn-underline::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .btn-underline:hover::after {
    width: 100%;
  }
  .btn-border {
    @apply max-w-max px-10 py-3 text-xs border-black text-black uppercase cursor-pointer border-[1px] font-medium transition-all;
  }
  .btn-border:hover{
    @apply bg-black text-white;
  }
  .btn-border-white {
    @apply max-w-max px-10 py-3 text-xs border-white text-white uppercase cursor-pointer border-[1px] font-medium transition-all;
  }
  .btn-border-white:hover{
    @apply bg-white text-black;
  }
}
